---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About">
<div class="lightbox-wrapper" id="about" data-simplebar>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">About Me</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Info section-->
            <div class="info-section single-section">
              <div class="row align-items-center">
                <!-- Picture part-->
                <div class="col-12 col-lg-5 info-img"><img class="img-fluid img-thumbnail" src="/assets/Headshot.png" alt="About Picture"></div>
                <!-- Content part-->
                <div class="col-12 col-lg-7 info-content">
                  <div class="content-block">
                    <h6 class="content-title">I'm Ron Lanzilotta, a Software Developer and session musician with more than a decade of sales experience.  </h6>
                    <div class="content-description">
                      <p>For over a decade as a touring musician and real estate agent, I have thrived at creating my own professional environments from the ground up. I apply this enterprising foundation to devise modular solutions for real-world problems in my role as a software engineer.
                      <br>
                      <br>
                      My former work taught me to independently cultivate creative ideas and consider how they will fit into a broader project. For example, a musical idea is only as good as it relates to the rest of a song, a song only as good as it relates to the rest of an album, and an album only as good as it relates to an artist's broader ethos. As a software engineer, this has prepared me to work efficiently on my own, while being able to explain and advocate for my work in a team context. My strongest attributes, both personally and professionally are my ability to empathize with team members and to reflect on how my choices may affect them.
                      <br>
                      <br>
                      Software engineering offers an avenue to work on meaningful projects, at the edge of technology, from anywhere in the world, with people who inspire you. I firmly believe that these are the ingredients to a productive and fulfilling future and I am grateful to have the opportunity to pursue a lifetime of learning and growth.</p>
                    </div>
                    <address class="content-info">
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Name:</span>
                          <p>Ron Lanzilotta</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Email:</span>
                          <p><a href="mailto:rLanzilotta1010@gmail.com">rLanzilotta1010@gmail.com</a></p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-md-6 single-info"><span>Age:</span>
                          <p>31</p>
                        </div>
                        <div class="col-12 col-md-6 single-info"><span>Home:</span>
                          <p>Brooklyn, NY</p>
                        </div>
                      </div>
                    </address>
                    <div class="d-block d-sm-flex align-items-center"><a class="btn content-download button-main button-scheme" href="https://docs.google.com/document/d/e/2PACX-1vRT8SxlHAfXrwGNfFFXhIm9fc09a_5Y2IXP82QcCA0Y1toJ33DadLua6v_g8xY7RgtbLJm029xu0uTd/pub" role="button">Download CV</a>
                      <ul class="list-unstyled list-inline content-follow">
                        <li class="list-inline-item"><a href="https://www.instagram.com/lanzdev_/" target="_blank"><i class="icon ion-logo-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ronlanzilotta/" target="_blank"><i class="icon ion-logo-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://github.com/RonLanzilotta" target="_blank"><i class="icon ion-logo-github"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
</div> 
</Layout>