---
import Layout from "../layouts/Layout.astro";
---
 
<Layout title="Home">
 <section class="home-area element-cover-bg" id="home" style="background-image:url(/assets/adrien-olichon-RCAhiGJsUUE-unsplash.jpg)">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-lg-8 home-content text-center">
          <h1 class="home-name">Ron <span>Lanzilotta</span></h1>
          <h4 class="cd-headline clip home-headline"><span class="cd-words-wrapper single-headline"><b class="is-visible">Software Developer</b></span></h4>
        </div>
      </div>
    </div>
    <div class="fixed-wrapper">
      <!-- Social media icons-->
      <div class="fixed-block block-right">
        <ul class="list-unstyled social-icons">
          <li><a href="https://www.linkedin.com/in/ronlanzilotta/" target="_blank"><i class="icon ion-logo-linkedin"></i></a></li>
          <li><a href="https://github.com/RonLanzilotta" target="_blank"><i class="icon ion-logo-github"></i></a></li>
          <li><a href="https://www.instagram.com/lanzdev_/" target="_blank"><i class="icon ion-logo-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
</Layout>