---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Resume">
<!-- Resume lightbox-->
 <div class="lightbox-wrapper" id="resume" data-simplebar>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">Resume</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Resume section-->
            <div class="resume-section single-section">
              <div class="row">
                <!-- Education part-->
                <div class="col-12 col-md-6">
                  <div class="col-block experience">
                    <h3 class="col-title">Experience</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Real Estate Agent</h5><span class="item-details">New York Moves Real Estate / June 2020 - PRESENT</span>
                      <p class="item-description">12 years experience in fast-paced urban rentals, suburban home sales at a national brokerage, and assisting on the sales of large commercial portfolios.
                      <br>
                      <br>
                      Achieved $219,000 in gross receivable commissions during 16 months at NY Moves even during the peak of the pandemic.
                      <br>
                      <br>
                      Expertise in lead procurement, property identification, building management liaison, and end-to-end deal handling.</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Event Production</h5><span class="item-details">Pinpoint Productions / July 2017 - April 2018</span>
                      <p class="item-description">Organized and executed multiple national hyperlocal grassroots events for client Google, aimed at promoting coding education to elementary schools and supporting career changes to professionals. 
                      </p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Session Bassist</h5><span class="item-details">Freelance / 2011 - PRESENT</span>
                      <p class="item-description">Successfully led and directed dozens of musical groups with a focus on enhancing musical performance through effective communication and empathy.
                      <br>
                      <br>
                      Proven success in recording sessions, working with Grammy-awarded and -nominated artists and managing personal projects, with generated streams in the 10's of millions. 
                      </p>
                    </div>
                  </div>
                </div>
                <!-- Experience part-->
                <div class="col-12 col-md-6">
                  <div class="col-block education">
                    <h3 class="col-title">Education</h3>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">General Assembly Fellow</h5><span class="item-details">November 2022 - February 2023</span>
                      <p class="item-description">Completed 500+ hours of full-time, in-person immersive software engineering bootcamp with a 100% completion record on assignments, while maintaining perfect attendance throughout to reinforce commitment to software development growth and learning.
                        <br>
                        <br>
                      Demonstrated strong full-stack skills with the successful development of six projects, individually and in collaboration</p>
                    </div>
                    <div class="resume-item"><span class="item-arrow"></span>
                      <h5 class="item-title">Berklee College of Music</h5><span class="item-details">Bachelor of the Arts <br> 2009 - 2013</span>
                      <p class="item-description">Completed a 4 year degree in Music Business / Mgmt, with a minor in Film Scoring. Focused on music theory fundamentals, bass guitar performance, and modern practices in the streaming music industry. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Skills section-->
            <div class="skills-section single-section">
              <div class="section-heading">
                <h2 class="section-title">Technical Skills</h2>
              </div>
              <div class="skill-lists">
                <div class="skill-set">
                  <h5 class="skill-info"><span class="skill-name">Languages: </span>
                  </h5>
                  <ul>
                    <li>JavaScript/ES6</li>
                    <li>HTML</li>
                    <li>CSS3</li>
                    <li>JSON</li>
                    <li>SQL</li>
                    <li>Python</li>
                    <li>C#</li>
                  </ul> 
                </div>
                <div class="skill-set">                     
                  <h5 class="skill-info"><span class="skill-name">Frameworks & Libraries:</span>
                  </h5>
                  <ul>
                    <li>React</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                    <li>Django</li>
                    <li>Axios</li>
                    <li>PeeWee</li>
                  </ul>  
                </div>
                <div class="skill-set">
                  <h5 class="skill-info"><span class="skill-name">Database:</span>
                  </h5>
                    <ul>
                      <li>Restful API's</li>
                      <li>MongoDB/Atlas</li>
                      <li>mongoose</li>
                      <li>PostgresQL</li>
                      <li>Cloudinary</li>
                    </ul>  
                </div>
                <div class="skill-set">
                  <h5 class="skill-info"><span class="skill-name">Concepts, etc:</span>
                  </h5>
                    <ul>
                      <li>Responsive Design</li>
                      <li>Big O Notation</li>
                      <li>Data Structures</li>
                      <li>Full Stack Development</li>
                      <li>Git, GitHub, GitFlow</li>
                      <li>OOP</li>
                      <li>Railway</li>
                      <li>Netlify</li>
                      <li>Heroku</li>
                    </ul>  
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</Layout>
