---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio">
<!-- Portfolio lightbox-->
<div class="lightbox-wrapper" id="portfolio" data-simplebar>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="lightbox-content">
            <div class="row">
              <div class="col-12">
                <div class="section-heading page-heading">
                  <h2 class="section-title">Portfolio</h2>
                  <div class="animated-bar"></div>
                </div>
              </div>
            </div>
            <!-- Portfolio section-->
            <div class="portfolio-section single-section">
              <div class="row">
              </div>
              <!-- Thumbnail list-->
              <div class="portfolio-grid row">
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://alike-ga.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="/assets/Alike.png">
                      <div class="item-content">
                        <h6 class="content-title">Alike</h6><span class="content-more">A social media app for showcasing technical projects</span>
                        <li><a href="https://github.com/RonLanzilotta" target="_blank"><i class="icon ion-logo-github"></i></a></li>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://nutrilogx.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="/assets/Nutrilog.png">
                      <div class="item-content">
                        <h6 class="content-title">Nutrilog</h6><span class="content-more">An app-based nutrition logger with full CRUD capabilities</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 design"><a class="portfolio-item" href="https://ronlanzilottawar.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="/assets/WAR.png">
                      <div class="item-content">
                        <h6 class="content-title">W A R</h6><span class="content-more">My very first project,this famous card game written in pure JavaScript and accounts for all logical edge cases</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://lanzbass.com/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="/assets/LANZBASS_Portfolio.png">
                      <div class="item-content">
                        <h6 class="content-title">LANZBASS Recording Portfolio</h6><span class="content-more">A full stack REACT app that archives my recording credits as a session bass player</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 brand"><a class="portfolio-item" href="https://github.com/RonLanzilotta/api-project" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="/assets/NASA_API.png">
                      <div class="item-content">
                        <h6 class="content-title">NASA's Photo of the Day API</h6><span class="content-more">An API built from a subset of NASA's daily astronomy photo of the day</span>
                      </div>
                    </div>
                  </a></div>
                <!-- Single item-->
                <div class="single-item col-6 col-lg-4 photos"><a class="portfolio-item" href="https://famous-babka-11c036.netlify.app/" data-lightbox>
                    <div class="portfolio-wrapper"><img class="img-fluid" alt="Item" src="/assets/RickDex.png">
                      <div class="item-content">
                        <h6 class="content-title">RickDex</h6><span class="content-more">A full-CRUD front-end REACT app that consumes an API built by a classmate</span>
                      </div>
                    </div>
                  </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>